body {
    font-family: Arial, sans-serif;
    background-color: #95acbb;
    color: #242121;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #46525e;
}

.main {
  height: 100vh;
  background-image: url('/1.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

#postal-form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 12px;
}

#postal-form label {
  font-size: 2rem;
  margin-bottom: 20px;
}

#postal-form input {
  padding: 15px 20px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  width: 300px;
}

#postal-form button {
  padding: 15px 25px;
  font-size: 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #b2e5fd;
  color: white;
  cursor: pointer;
}
#postal-form button:hover {
  background-color: #b2e5fd;
}